/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*@media (min-width: 576px) {
	.card {
		margin-bottom: 20px;
	}
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}

	.custom-control-label {
		width: 150px;
	}

	.dropdown.show {
		width: 500px;
	}
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.container {
	/* Offsets the fixed-top navbar to prevent overlap. */
	padding-top: 70px;
}

.custom-control.custom-switch {
	margin-left: 10px;
}

.fa-clickable {
	cursor: pointer;
	outline: none;
}

.float-right {
	float: right;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
	box-sizing: unset; /* Removes that annoying little line at the bottom of the page. */
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
}
