@model IEnumerable<Argus.Core.App>

@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
	<h1 class="display-4">Argus - System Monitor</h1>
	<p>Status as of @DateTime.Now.</p>
</div>
<div class="row">
	@* Static card to illustrate issue-free application. *@
	<div class="col-sm-4">
		<div class="card mb-3">
			<h5 class="card-header text-white bg-success">Application 0</h5>
			<div class="card-body">
				<h5 class="card-title">Subtitle</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<button type="button" class="btn bg-success text-white rounded-pill">
					Reports <span class="badge badge-light">0</span>
				</button>
				<a href="#" class="btn btn-success rounded-pill">Report a problem</a>
			</div>
		</div>
	</div>

	@foreach (var app in Model)
	{
		string cssClassByIssueCount = "bg-success";
		string cssTextColor = "text-white";

		if (app.IssueCount >= 3)
		{
			cssClassByIssueCount = "bg-danger";
		}
		else if (app.IssueCount >= 1)
		{
			cssClassByIssueCount = "bg-warning";
			cssTextColor = "text-dark";
		}

		<div class="col-sm-4">
			<div class="card mb-3">
				<h5 class="card-header @cssTextColor @cssClassByIssueCount">@app.Name</h5>
				<div class="card-body">
					<h5 class="card-title">Subtitle</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<button type="button" class="btn @cssClassByIssueCount @cssTextColor rounded-pill">
						Reports <span class="badge badge-light">@app.IssueCount</span>
					</button>
					<a href="#" class="btn @cssClassByIssueCount @cssTextColor rounded-pill">Report a problem</a>
				</div>
			</div>
		</div>
	}

	@* Static card to illustrate issue-free application and responsive design. *@
	<div class="col-sm-4">
		<div class="card mb-3">
			<h5 class="card-header text-white bg-success">Application 5</h5>
			<div class="card-body">
				<h5 class="card-title">Subtitle</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<button type="button" class="btn bg-success text-white rounded-pill">
					Reports <span class="badge badge-light">0</span>
				</button>
				<a href="#" class="btn btn-success rounded-pill">Report a problem</a>
			</div>
		</div>
	</div>
</div>
<div>
	<p>
		<button class="btn btn-primary rounded-pill" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			Settings
		</button>
	</p>
	<div class="collapse" id="collapseExample">
		<div class="card mb-3">
			<div class="card-body">
				<div class="input">
					<input id="AutoScroll" type="checkbox">
					<span>Enable auto-scroll</span>
				</div>
				<div class="input">
					<input type="checkbox" aria-label="Checkbox for following text input">
					<span>Enable auto-refresh</span>
				</div>
			</div>
		</div>
		
	</div>
</div>