
@{
	ViewData["Title"] = "Not Found";
}

<h1>Not Found</h1>
<p>
	We couldn't find what you're looking for!
</p>
<div>
	<a class="btn btn-primary rounded-pill" asp-controller="Home" asp-action="Index">Go Home</a>
</div>